/*fonts and text*/
.title
{
    font-weight: 700;
    font-size: 3rem;
}

.sub-title
{
    font-size: 2rem;
}

.text
{
    font-weight: 300;
    line-height: 27px;
}

.text-center
{
    text-align: center;
}

.text-white
{
    color: #eeeeee;
}

/*images*/

img
{
    width: 100%;
}

/*containers*/

.container
{
    max-width: 70em;
    width: 90%;
    margin: 0px auto;
}

/*margins*/
.my-0
{
    margin: 0rem 0rem;
}
.my-4
{
    margin: 4rem 0rem;
}

.mb-0
{
    margin-bottom: 0px;
}

.m-1
{
    margin: 1em;
}

/*display*/

.d-flex
{
    display: flex;
}

.justify-content-center
{
    justify-content: center;
}

.flex-wrap
{
    flex-wrap: wrap;
}

.flex-grow-1
{
    flex-grow: 1;
}

/*buttons*/
.btn
{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 300;
}

.btn-red
{
    background: none;
    border: solid 1px  #f72d55;
    transition: background .3s ease;
    color: #f72d55;
}

.btn-red:hover
{
    background: #f72d55;
    color: #eeeeee;
}


.btn-rounded
{
    border-radius: 15px;
}

/*listas*/

ul
{
    list-style: none;
    padding: 0;
}

li
{
    display: block;
    margin: 15px 0px;
}
