header
{
    background-image: linear-gradient(90deg, rgba(252, 70, 106, 0.199) 0%, rgba(63, 94, 251, 0.199) 100%),url('/img/home.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    height: 35rem;
}

header nav
{
    position: absolute;
    width: 100%;
    top: 0px;
}

header .presentation
{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}