.container-home
{
    display: flex;
    padding: 0em 1em;
    height: 100%;
    margin-bottom: 4em;
    position: relative;
}

.container-home > section
{
    width: 50%;
}

.container-home img
{
    width: 100%;
}

.btn-green
{
    margin-top: 1em;
}

@media screen and (max-width: 580px) 
{
    .container-home > section
    {
        width: 100%;
    }
    .img-container
    {
        position: absolute;
        opacity: 0.1;
    }
}