<div *ngIf="!isLoading">
    <div class="flex" >
        <section class="img-container">
            <a href="{{ project.url }}" target="_blank">
                <img src="{{project.img}}" alt="{{project.title}}">
            </a>
        </section>
        <section class="flex flex-col flex-center">
            <h2 class="text-center">{{project.title}}</h2>
            <h4 class="text-center">{{project.short_description}}</h4>
            <p class="text-center">
                <a href="{{project.url}}" target="_blanck" class="btn btn-green">Vamos a ver <fa-icon [icon]="viewIcon"></fa-icon> </a>
            </p>
        </section>
    </div>
    <div class="tec"> 
        <h3 class="text-center">Tecnologías usadas</h3>
        <div class="flex flex-wrap flex-center">
            <span *ngFor="let tec of project.tecnologies" class="tecnologies" >
                {{tec}}
            </span>
        </div>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>