/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

*
{
    font-family: 'Nunito Sans',Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body
{
    background           : #a8ff78;                                              /* fallback for old browsers */
    background           : -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background           : linear-gradient(to right, #78ffd6, #a8ff78);          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    display              : grid ;
    height               : 100%;
    justify-content      : center;
    align-items          : center;
}

html
{
    height: 100%;
}

ul li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

.btn
{
    display: inline-block;
    padding: 0.5em 0.8em;
}

.btn-green
{
    background   : #00bfa6;
    border-radius: 0.5em;
    color        : #fdfdfd;
    transition   : box-shadow 0.3s ease;
}

.btn-green:hover
{
    box-shadow : 0 0 0.5em 0.2em #01d4b8;
    font-weight: bold;
}
